<%- include("../partials/header") %>

    <h1>Welcome to CourseHub</h1>

    <p>
        <%= Resource.name %> <br>
        <%= Resource.subjectCode %> <br>
    </p>

    <a href="/resource/<%= Resource._id%>/edit">Edit</a>

    <form action="/resource/<%= Resource._id %>/delete" method="POST"> 
        <input type="submit" value="Delete">
    </form>
<%- include("../partials/footer") %>
