<%- include("partials/header") %>
    <h1>Welcome to coursehub</h1>
    <ul>
        <% Subjects.forEach((subject) => { %>
            <li>
                <a
                href="/year/<%= subject.year %>/semester/<%= subject.semester %>/branch/<%= subject.branch %>/subject/<%= subject._id %>">
                    <%= subject.name %>
                </a>
            </li>
        <% }) %>
    </ul>

<%- include("partials/footer") %>
