<%- include("partials/header") %>
    <h1>Welcome to coursehub</h1>
    <ul>
        <% Subjects.forEach((subject) => { %>
            <li> <a href="/<%= subject.year %>/<%= subject.semester %>/<%= subject.branch %>/<%= subject._id %>"></a><%= subject.name %></li>
        <% }) %>
    </ul>


<%- include("partials/footer") %>
