<%- include("partials/header") %>
    <form class="" action="/<%= sem.name %>?_method=PUT" method="get">
        <input type="text" name="name" value="<%= sem.name %>">
        <input type="number" name="semNum" value="<%= sem.num %>">
        <button type="submit" name="button">Submit</button>
    </form>
<%- include("partials/footer") %>
