<%- include("partials/header") %>
<h1>Welcome to Coursehub</h1>

<form class="" action="/year/<%= Year.linkName %>/semester/<%= Semester.name %>/branch/<%= Branch.name %>" method="post">
    <label for="subjectCode">Subject Code:</label>
    <input type="text" id="subjectCode" name="subjectCode" value="">
    <br>

    <label for="name">Subject Name:</label>
    <input type="text" id="name" name="name" value="">
    <br>
    <label for="Branch">Branch Name:</label>
    <select name="Icecream Flavours">
        <% branchKeys.forEach(key => { %>
        <option value="<%= key %>"><%= key %></option>
        <% }) %>
    </select>
    <br>

    <label for="Year">Year:</label>
    <input type="number" id="Year" name="year" value="">
    <br>
    <label for="semesterNo">Semester Number:</label>
    <input type="number" id="semesterNo" name="semesterNo" value="">

    <br>

    <input type="submit" name="" value="submit">
</form>
<%- include("partials/footer") %>
