<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <ul>
        <% branchKeys.forEach((key) => { %>
            <% if(key !== "freshmen") { %>
                <li> <a href="/<%= Year.linkName %>/<%= Semester.name %>/<%= Branch[key].name %>"> <%= Branch[key].name %></a> </li>
            <% } %>
        <% }) %>
    </ul>

<%- include("partials/footer") %>
