<%- include("../partials/header") %>
    <h1> Welcome <%= user.username %> </h1>
    <a href="/users/<%= user._id %>/edit">edit</a>
    <form action="/users/<%= user._id %>/delete" method="POST">
        <button type="submit">Delete</button>
<%- include("../partials/footer") %>
